.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #29372e;
    font-family: 'Noto Sans', sans-serif;
}
  
.post {
    width: 500px;
    border: 1px solid #24252a;
    background-color: #24252a;
    margin-bottom: 20px;
    margin: 0 0 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px; /* Köşe yuvarlatma miktarını ayarlayabilirsiniz */
	display: flex;
	flex-direction: column;
}
  
.post img {
    width: 100%;
    height: auto;
}

.post-info {
    text-align: center;
    margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.username {
    font-weight: bold;
    color:rgba(255, 255, 255, 0.5);
}

.block-1 {
    align-items: center;
	display: flex;
	justify-content: flex-start;
}

.block-2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
  
.date,
.likes {
    color: #888;
    font-size: 0.8rem;
}

.comments {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #1a1a1d;
}
  
.comment {
    margin-bottom: 5px;
    color: #888;
    font-size: 0.8rem;
}

.comment-input {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #1a1a1d;
    display: flex;
    align-items: center;
}
  
.comment-input input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #1a1a1d;
    background-color: #24252a;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-input button {
    padding: 5px 10px;
    background-color: #3f8541;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.comment-input button:hover {
    background-color: #367438;
}

.like-button {
	margin-left: 10px;
	padding: 5px 10px;
    background-color: #3f8541;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.like-button:hover {
    background-color: #367438;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /*background-color: #24252a;*/
}

.profile-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%; /* Profil fotoğrafını yuvarlak yapmak için */
    margin-right: 5px;
    object-fit: cover;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
}
